name: Make Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        cc: ["gcc", "clang"]
        ffmpeg_configure_args: ["--disable-shared --enable-static", "--disable-static --enable-shared"]
        ffms2_configure_args: ["--disable-shared --enable-static", "--disable-static --enable-shared"]
        include:
          - os: ubuntu-latest
            cc: gcc
            cxx: g++
          - os: ubuntu-latest
            cc: clang
            cxx: clang++
          - os: macos-latest
            cc: clang
            cxx: clang++
          - os: windows-latest
            cc: gcc
            cxx: g++
        exclude:
          - os: macos-latest
            cc: gcc
          - os: windows-latest
            cc: clang

    name: "Test (${{ matrix.os }}, ${{ matrix.cc }}, ffmpeg=${{ matrix.ffmpeg_configure_args }}, ffms2=${{ matrix.ffms2_configure_args }})"
    runs-on: ${{ matrix.os }}
    env:
      CC: ${{ matrix.cc }}
      CXX: ${{ matrix.cxx }}
    defaults:
      run:
        shell: ${{ matrix.os == 'windows-latest' && 'msys2 {0}' || 'bash' }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: install deps (ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install autoconf automake wget nasm

    - name: install deps (macOS)
      if: matrix.os == 'macos-latest'
      run: |
        brew update
        brew install autoconf automake libtool wget

    - name: Setup msys2
      if: matrix.os == 'windows-latest'
      uses: msys2/setup-msys2@v2.29.0
      with:
        msystem: MINGW64
        install: >-
          mingw-w64-x86_64-autotools
          mingw-w64-x86_64-nasm
          mingw-w64-x86_64-toolchain

    - name: Download ffmpeg
      run: wget https://ffmpeg.org/releases/ffmpeg-8.0.tar.xz

    - name: Extract ffmpeg
      run: tar xf ffmpeg-8.0.tar.xz

    - name: Configure ffmpeg
      run: ./configure ${{ matrix.ffmpeg_configure_args }} --enable-pic
      working-directory: ffmpeg-8.0

    - name: Build ffmpeg
      run: make
      working-directory: ffmpeg-8.0

    - name: Install ffmpeg
      run: sudo make install
      working-directory: ffmpeg-8.0

    - name: Configure ffms2
      run: |
        ./autogen.sh ${{ matrix.ffms2_configure_args }} --with-pic

    - name: make
      run: make V=1 CXXFLAGS='-Werror -Wno-error=deprecated-declarations' -j2 -k

  build-win:
    runs-on: windows-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Parse AviSynth+ release metadata
        uses: actions/github-script@v7
        with:
          script: |
            const req = await github.request('https://api.github.com/repos/avisynth/avisynthplus/releases');
            const data = req.data;
            let avstag = '';
            for(let rel of data){
                if(rel.prerelease||rel.draft){
                    continue;
                }
                avstag = rel.tag_name;
                if(avstag != ''){
                    break;
                }
            }
            core.exportVariable('AVS_TAG', avstag);
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64
      - name: Make builds...
        run: |
          cd ..
          git clone https://github.com/AviSynth/AviSynthPlus.git --branch "${{ env.AVS_TAG }}" --depth 1
          cd ffms2
          vcpkg install ffmpeg[avcodec,avdevice,avfilter,avformat,swresample,swscale,zlib,bzip2,core,dav1d,gpl,version3,lzma,openssl,xml2]:x86-windows-static
          vcpkg install ffmpeg[avcodec,avdevice,avfilter,avformat,swresample,swscale,zlib,bzip2,core,dav1d,gpl,version3,lzma,openssl,xml2]:x64-windows-static
          vcpkg integrate install
          MSBuild.exe /t:Rebuild /p:PlatformToolset=v143 /m /p:Configuration=Release /p:Platform=x86 "./build-msvc/ffms2.sln"
          MSBuild.exe /t:Rebuild /p:PlatformToolset=v143 /m /p:Configuration=Release /p:Platform=x64 "./build-msvc/ffms2.sln"
          cmake -E copy "build-msvc\bin\Win32\Release\ffms2.dll" "dist\x86\ffms2.dll"
          cmake -E copy "build-msvc\bin\Win32\Release\ffms2.lib" "dist\x86\ffms2.lib"
          cmake -E copy "build-msvc\bin\Win32\Release\ffmsindex.exe" "dist\x86\ffmsindex.exe"
          cmake -E copy "build-msvc\bin\x64\Release\ffms2.dll" "dist\x64\ffms2.dll"
          cmake -E copy "build-msvc\bin\x64\Release\ffms2.lib" "dist\x64\ffms2.lib"
          cmake -E copy "build-msvc\bin\x64\Release\ffmsindex.exe" "dist\x64\ffmsindex.exe"
          cmake -E copy_directory "include" "dist\include"
          cmake -E copy_directory "doc" "dist\doc"
          cmake -E copy "etc\FFMS2.avsi" "dist\FFMS2.avsi"
          cmake -E copy "COPYING" "dist\COPYING"
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ffms2_build_win
          path: dist
